@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blinker {
   0% {opacity: 1;}
   25% {opacity: 0.95;}
   50% {opacity: 0.85;}
   75% {opacity: 0.80;}
   100% {opacity: 0.75;}
}

w-vw-full {
   width: 97vw;
}

::-webkit-scrollbar {
   width: 0.5rem;
}

::-webkit-scrollbar-track {
   background: #21242b;
}

::-webkit-scrollbar-thumb {
   background: #3e4855;
   border-radius: 0.15rem;
}

::-webkit-scrollbar-thumb:hover {
   background: #283341;
}

.grid-cols-36 {
   grid-template-columns: repeat(25, minmax(0, 1fr));
}

.col-span-27 {
   grid-column: span 18 / span 18;
}

.col-span-32 {
   grid-column: span 17 / span 17;
}

.grid-rows-64 {
   grid-template-rows: repeat(64, minmax(0, 1fr));
}

.row-span-12 {
   grid-row: span 12 / span 12;
}

.row-span-55 {
   grid-row: span 55 / span 55;
}

.row-span-9 {
   grid-row: span 9 / span 9;
}

.row-span-7 {
   grid-row: span 7 / span 7;
}

.row-span-54 {
   grid-row: span 54 / span 54;
}

.max-h-maximum {
   max-height: 92vh;
}
