@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blinker {
   0% {opacity: 1;}
   25% {opacity: 0.95;}
   50% {opacity: 0.85;}
   75% {opacity: 0.80;}
   100% {opacity: 0.75;}
}

w-vw-full {
   width: 97vw;
}

::-webkit-scrollbar {
   width: 0.5rem;
}

::-webkit-scrollbar-track {
   background: #21242b;
}

::-webkit-scrollbar-thumb {
   background: #3e4855;
   border-radius: 0.15rem;
}

::-webkit-scrollbar-thumb:hover {
   background: #283341;
}

.max-h-maximum {
   max-height: 92vh;
}